h1{
	color: #ccb71b;
	text-align: center;
}

.header {
	background-color: black;
	text-decoration-color: #ccb71b;
	border-style: double;
	border-color: silver;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 80vh;
}

.footer {

	display: flex;
	background-color: black;
	color: gold;

}

body{
	background-color: #7fe85f;
	background-image: url("images/IMG_2232.JPG");
	background-size: 1340px;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.content {
	text-align: center;
	border-style: double;
	border-color: silver;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding: 20px;
	background-color: #7fe85f;
}

img{
	width: 500px;
	height: 200px;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

li{
	float: left;

}

li a {
  display: inline-block;
  color: silver;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
